{% extends 'base.html' %} 
{% load bootstrap5 %}
{% block title %}HOME{% endblock title %} 
{% block content %} 
    <div class="row">
        <div class="col-sm-12 mb-3">
            <h4 class="text-center">Welcome {{ user.username }}</h4>
        </div>
    </div>


<h1> Home </h1>
<br>
        <div class="d-grid gap-2 col-6 mx-auto">
            <a href="{% url 'test:client_profile' %}" class="btn btn-outline-primary">Go to your Profile</a>
            <a href="{% url 'test:change_password' request.user.id %}" class="btn btn-outline-warning">change password</a>
            <a href="{% url 'test:logout' %}" class="btn btn-outline-danger">Logout</a>
        </div>
{% endblock %}
