{% extends 'base.html' %} 
{% load bootstrap5 %}
{% block title %}Sign in{% endblock title %} 

{% comment %} {% block content %} 
    <div class="row">
        <div class="col-md-8 mx-auto social-container my-2 order-md-1">
            <button>
                <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login With Google</a>

            </button>
        </div>
    </div>
{% endblock %}
 {% endcomment %}
 <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

 {% block content %}
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-8 mx-auto">
                <form  method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                    <div class=" gap-2 col-12 ">
                        <button type="submit" class="btn btn-success ">Login</button>
                        <a href="{% url 'testapp:signup' %}" type="submit" class="btn btn-primary mx-2 flex-grow-1 btn-sm">Sign Up</a>
                        <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}" class="btn btn-primary mx-2 flex-grow-1 btn-sm">Login With Google  
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                            <path d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"/>
                          </svg>
                        </a>
                    {% endbuttons %}
                    <div>
                    {% comment %} <button> {% endcomment %}
                    {% comment %} </button> {% endcomment %}


                </form>
                <a href="{% url 'test:forgot_password'%}">forgot password</a>
            </div>
        </div>
    </div>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

{% endblock %}